<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCV2i-LxlNgpMV7AYVfiE012AtTEGGX9Gk</string>
	<key>GCM_SENDER_ID</key>
	<string>519206703183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.portifolio</string>
	<key>PROJECT_ID</key>
	<string>portifolio-d00ca</string>
	<key>STORAGE_BUCKET</key>
	<string>portifolio-d00ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519206703183:ios:68a805b75f84a439b51a3a</string>
</dict>
</plist>